@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    background-color: #1b263b;
}

body{
    font-family: 'Inter' , sans-serif; 
}

.navbar-light .navbar-nav .nav-link.color-violeta{
    color: #c0fdfb;
}

.navbar-light .navbar-nav .nav-link.color-negro{
    color: rgb(255, 255, 255);
}

.titulos{
    display: flex;
    justify-content: center;
    padding: 16px;
    color: #a3cef1;
}

/*Carrusel principal*/

.logo-principal{
    color: #c0fdfb;
}

.carousel-indicators {
    z-index: 0;
}

.carousel-item{
    height: 60vh;
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descuento{
    padding: 16px;
}

/*Estilo de marcas*/

.galeria{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 16px;
}

.figura{
    display: flex;
    justify-content: center;
}

.info-product{
    display: flex;
    justify-content: center;
    color: #a3cef1;
}

.efecto{
    border-radius: 30px;
}

.efecto:hover{
    transform: scale(1.2); 
    transition: all .5s;
}

/* estilos de tienda*/

.titulos-tiendas{
    display: flex;
    justify-content: start;
    padding: 10px 0 10px 50px;
    color: aquamarine;
}

/* Estilos ofertas*/

.ofertas-descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ofertas-p{
    width: 50%;
    padding: 10px 60px 20px;
    color: antiquewhite;
}
.carrusel-ofertas{
    width: 50%;
    padding: 50px;
}

/* Estilos de contacto*/

.articulos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 50px 20px;
    color: #c0fdfb;
}

.video-yt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}
.img-local{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 16px;
}

.mapita{
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 16px;
}

/* estilos de footer */ 

.footer-padre{
    display: flex;
    justify-content: space-evenly;
}

.footer-padre div{
    display: flex;
    flex-direction: column;
}

.titulos-footer{
    color: #c0fdfb;
}

.a-footer{
    color: #c0fdfb;
}

.derechos{
    text-align: center;
    color: #c0fdfb;
}

@media screen and (max-width: 0px) and (max-width: 768px){
    
    .carousel-item{
        height: 40vh;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
}