*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $tipografia-general;
    background-image: linear-gradient(to right top, #b375e7, #a177e8, #8e79e7, #7b7ae6, #667be3, #696dc9, #675fb0, #635298, #5a3968, #44253f, #27161f, #000000);
}