/* carrusel principal con titulos*/

.navbar-light .navbar-nav .nav-link.color-violeta{
    color: #04460e;
}

.navbar-light .navbar-nav .nav-link.color-negro{
    color: rgb(255, 255, 255);
}

.titulos{
    display: $contenedor-flex;
    justify-content: $contenedor-flex-centrado;
    padding: 16px;
}

/*Carrusel principal*/

.logo-principal{
    color: $color-secundario;
}

.carousel-indicators {
    z-index: 0;
}

.carousel-item{
    height: 60vh;
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descuento{
    padding: 16px;
}

/*Estilo de marcas anidaccion con sass*/

.galeria{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 16px;
    .figura{
        display: flex;
        justify-content: $contenedor-flex-centrado;
        .efecto{
            border-radius: 30px;
            border: 2px solid black;
            &:hover{
                transform: scale(1.3) /*rotate(360deg)*/; 
                transition: all .4s;
            }
        }
    }
    .info-product{
        display: $contenedor-flex;
        justify-content: $contenedor-flex-centrado;
        font-size: 18px;
        color: #000000;
    }
    
}

/* estilos de tienda*/

.titulos-tiendas{
    display: $contenedor-flex;
    justify-content: start;
    padding: 10px 0 10px 50px;
    color: aquamarine;
}

/* Estilos ofertas*/

.ofertas-descripcion{
    display: $contenedor-flex;
    justify-content: $contenedor-flex-centrado;
    align-items: center;
    
}

.ofertas-p{
    width: 50%;
    padding: 10px 60px 20px;
    color: antiquewhite;
}
.carrusel-ofertas{
    width: 50%;
    padding: 50px;
}

/* Estilos de contacto*/

.articulos{
    display: $contenedor-flex;
    justify-content: $contenedor-flex-centrado;
    align-items: center;
    width: 100%;
    padding: 10px 50px 20px;
    color: #000000;
}

.video-yt {
    display: $contenedor-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}
.img-local{
    display: $contenedor-flex;
    flex-direction: row;
    padding: 10px;
}
.formulario{
    display: $contenedor-flex;
    flex-direction: map-get($map-flex, row);
    justify-content: map-get($map-flex, space-around);
    width: 100%;
    padding: 16px;
}

.mapita{
    display: $contenedor-flex;
    flex-direction: row;
    width: 95%;
    padding: 16px;
}
 /* estilos de error */
.error{
    display: flex;
    justify-content: center;
    padding: 20px;
}
 /* Anidacio con sass */
.footer-padre{
    display: $contenedor-flex;
    justify-content: space-evenly;
    .titulos-footer{
        display: $contenedor-flex;
        flex-direction: column;
        color: #c0fdfb;
        .a-footer{
            color: #c0fdfb;
            &:hover{
                transform: scale(1.3) /*rotate(360deg)*/; 
                transition: all .4s;
            }
        }
    }
    .derechos{
        text-align: center;
        color: #c0fdfb;
    }
}

